Repository ucfopen/canvasapi, pull requests merged in 2018-03, with the labels that each got.

#162 Release v0.9.0
  .travis.yml
  AUTHORS.md
  CHANGELOG.md
  README.md
  canvasapi/__init__.py
  canvasapi/account.py
  canvasapi/assignment.py
  canvasapi/conversation.py
  canvasapi/course.py
  canvasapi/paginated_list.py
  canvasapi/quiz.py
  canvasapi/requester.py
  canvasapi/section.py
  canvasapi/submission.py
  docs/examples.rst
  docs/getting-started.rst
  docs/index.rst
  setup.py
  tests/fixtures/account.json
  tests/fixtures/assignment.json
  tests/fixtures/course.json
  tests/fixtures/quiz.json
  tests/fixtures/submission.json
  tests/test_assignment.py
  tests/test_course.py
  tests/test_paginated_list.py
  tests/test_quiz.py
  tests/test_requester.py
  tests/test_section.py
  tests/test_submission.py
  tests/test_user.py
Labels: release

#164 #157 Content Migrations
  canvasapi/account.py
  canvasapi/canvas.py
  canvasapi/content_migration.py
  canvasapi/course.py
  canvasapi/group.py
  canvasapi/user.py
  docs/class-reference.rst
  docs/content-migration-ref.rst
  tests/fixtures/account.json
  tests/fixtures/content_migration.json
  tests/fixtures/course.json
  tests/fixtures/group.json
  tests/fixtures/outcome.json
  tests/fixtures/user.json
  tests/test_account.py
  tests/test_canvas.py
  tests/test_content_migration.py
  tests/test_course.py
  tests/test_group.py
  tests/test_user.py
Labels: api-coverage

#165 #163 Copy File Method in Folder
  .gitignore
  canvasapi/canvas.py
  canvasapi/folder.py
  docs/class-reference.rst
  docs/file-ref.rst
  docs/folder-ref.rst
  tests/fixtures/folder.json
  tests/test_folder.py
Labels: api-coverage

#166 #156 Standardize Method names
  canvasapi/account.py
  canvasapi/canvas.py
  canvasapi/communication_channel.py
  canvasapi/course.py
  canvasapi/current_user.py
  canvasapi/discussion_topic.py
  canvasapi/folder.py
  canvasapi/group.py
  canvasapi/module.py
  canvasapi/outcome.py
  canvasapi/page.py
  canvasapi/section.py
  canvasapi/user.py
  docs/class-reference.rst
  docs/communication-channel-ref.rst
  docs/discussion-entry-ref.rst
  tests/fixtures/account.json
  tests/test_account.py
  tests/test_canvas.py
  tests/test_communication_channel.py
  tests/test_course.py
  tests/test_current_user.py
  tests/test_discussion_topic.py
  tests/test_external_feed.py
  tests/test_file.py
  tests/test_folder.py
  tests/test_group.py
  tests/test_module.py
  tests/test_notification_preference.py
  tests/test_outcome.py
  tests/test_page.py
  tests/test_paginated_list.py
  tests/test_section.py
  tests/test_tab.py
  tests/test_user.py
Labels: enhancement
