Repository ucfopen/canvasapi, pull requests merged in 2018-09, with the labels that each got.

#208 Kwarg Docs
  README.md
  docs/getting-started.rst
  docs/index.rst
  docs/keyword-args.rst
Labels: documentation

#196 Add uploading a file to a submission for an assignment
  CHANGELOG.md
  canvasapi/assignment.py
  canvasapi/upload.py
  canvasapi/util.py
  tests/fixtures/assignment.json
  tests/test_assignment.py
  tests/test_util.py
Labels: api-coverage

#213 Issue #189 upload folder
  AUTHORS.md
  CHANGELOG.md
  canvasapi/folder.py
  tests/fixtures/course.json
  tests/fixtures/folder.json
  tests/test_folder.py
Labels: api-coverage

#214 Release v0.11.0
  .gitignore
  .travis.yml
  AUTHORS.md
  CHANGELOG.md
  DEPLOY.md
  README.md
  canvasapi/__init__.py
  canvasapi/account.py
  canvasapi/assignment.py
  canvasapi/canvas.py
  canvasapi/folder.py
  canvasapi/module.py
  canvasapi/outcome.py
  canvasapi/quiz.py
  canvasapi/upload.py
  canvasapi/util.py
  docs/getting-started.rst
  docs/index.rst
  docs/keyword-args.rst
  docs/quiz-ref.rst
  setup.py
  tests/fixtures/account.json
  tests/fixtures/assignment.json
  tests/fixtures/authentication_providers.json
  tests/fixtures/conversation.json
  tests/fixtures/course.json
  tests/fixtures/current_user.json
  tests/fixtures/external_tool.json
  tests/fixtures/folder.json
  tests/fixtures/group.json
  tests/fixtures/login.json
  tests/fixtures/module.json
  tests/fixtures/outcome.json
  tests/fixtures/page.json
  tests/fixtures/paginated_list.json
  tests/fixtures/quiz.json
  tests/fixtures/section.json
  tests/fixtures/submission.json
  tests/fixtures/uploader.json
  tests/fixtures/user.json
  tests/settings.py
  tests/test_account.py
  tests/test_assignment.py
  tests/test_canvas.py
  tests/test_course.py
  tests/test_folder.py
  tests/test_group.py
  tests/test_outcome.py
  tests/test_quiz.py
  tests/test_util.py
Labels: release
