Repository ucfopen/canvasapi, pull requests merged in 2019-06, with the labels that each got.

#252 Issue/251 favorites
  AUTHORS.md
  CHANGELOG.md
  canvasapi/current_user.py
  canvasapi/favorite.py
  docs/class-reference.rst
  docs/favorite-ref.rst
  tests/fixtures/bookmark.json
  tests/fixtures/current_user.json
  tests/fixtures/favorite.json
  tests/test_current_user.py
  tests/test_favorite.py
Labels: api-coverage

#262 #256 Poll Choices
  CHANGELOG.md
  canvasapi/poll.py
  canvasapi/poll_choice.py
  docs/class-reference.rst
  docs/poll-choice-ref.rst
  tests/fixtures/poll_choice.json
  tests/test_poll_choice.py
Labels: api-coverage

#267 #263 poll submissions
  CHANGELOG.md
  canvasapi/poll_session.py
  canvasapi/poll_submission.py
  docs/class-reference.rst
  docs/poll-submission-ref.rst
  tests/fixtures/poll_submission.json
  tests/test_poll_submission.py
Labels: api-coverage

#268 issue/260 added planner
  CHANGELOG.md
  canvasapi/canvas.py
  canvasapi/planner.py
  docs/account-ref.rst
  docs/class-reference.rst
  docs/planner-ref.rst
  tests/fixtures/planner.json
  tests/test_planner.py
Labels: api-coverage

#271 Quiz Submissions Paginated List
  AUTHORS.md
  CHANGELOG.md
  canvasapi/quiz.py
  tests/test_quiz.py
Labels: bug

#258 Issue/246 grading periods
  AUTHORS.md
  CHANGELOG.md
  canvasapi/account.py
  canvasapi/course.py
  canvasapi/grading_period.py
  canvasapi/tab.py
  docs/class-reference.rst
  docs/grading-period-ref.rst
  tests/fixtures/account.json
  tests/fixtures/course.json
  tests/fixtures/grading_period.json
  tests/test_account.py
  tests/test_course.py
  tests/test_grading_period.py
Labels: api-coverage

#273 Issue #224 Generic HTTP Error Handling
  CHANGELOG.md
  canvasapi/requester.py
  tests/fixtures/requests.json
  tests/test_requester.py
Labels: bug, enhancement
