Repository ucfopen/canvasapi, pull requests merged in 2019-07, with the labels that each got.

#275 Issue #257 e pub exports
  canvasapi/canvas.py
  canvasapi/course.py
  canvasapi/course_epub_export.py
  docs/class-reference.rst
  docs/course-epub-export-ref.rst
  tests/fixtures/course.json
  tests/test_canvas.py
  tests/test_course.py
  tests/test_course_epub_export.py
Labels: api-coverage

#274 Issue #261 outcome import
  canvasapi/account.py
  canvasapi/course.py
  canvasapi/outcome_import.py
  docs/class-reference.rst
  docs/outcome-import-ref.rst
  tests/fixtures/account.json
  tests/fixtures/course.json
  tests/fixtures/test_import_outcome.csv
  tests/test_account.py
  tests/test_course.py
  tests/test_outcome_import.py
Labels: api-coverage

#277 Add support for PATCH method
  AUTHORS.md
  CHANGELOG.md
  canvasapi/requester.py
  tests/fixtures/requests.json
  tests/test_requester.py
Labels: enhancement

#276 Issue #243 Add documentation for Exceptions
  docs/exceptions.rst
  docs/index.rst
Labels: documentation

#279 #272 Quiz Submission Questions
  canvasapi/quiz.py
  canvasapi/requester.py
  tests/fixtures/submission.json
  tests/test_quiz.py
Labels: api-coverage

#280 Grouped Submissions
  CHANGELOG.md
  canvasapi/course.py
  canvasapi/section.py
  canvasapi/submission.py
  canvasapi/util.py
  tests/fixtures/course.json
  tests/fixtures/section.json
  tests/test_course.py
  tests/test_section.py
  tests/test_submission.py
  tests/test_util.py
Labels: api-coverage, bug, enhancement

#281 #235 Verbose mode
  CHANGELOG.md
  canvasapi/requester.py
  canvasapi/util.py
  docs/debugging.rst
  docs/index.rst
  tests/test_util.py
Labels: enhancement

#285 Remove DeprecationWarning
  AUTHORS.md
  CHANGELOG.md
  canvasapi/canvas.py
  canvasapi/course.py
  canvasapi/section.py
  tests/test_course.py
  tests/test_group.py
  tests/test_outcome.py
  tests/test_page.py
  tests/test_section.py
  tests/test_submission.py
  tests/test_user.py
Labels: enhancement
