Repository ucfopen/canvasapi, pull requests merged in 2019-10, with the labels that each got.

#304 Issue/297 quiz submission events
  canvasapi/quiz.py
  tests/fixtures/quiz.json
  tests/fixtures/submission.json
  tests/test_quiz.py
Labels: api-coverage

#308 added rubric_association functions and tests
  CHANGELOG.md
  canvasapi/course.py
  canvasapi/rubric.py
  tests/fixtures/course.json
  tests/fixtures/rubric.json
  tests/test_course.py
  tests/test_rubric.py
Labels: api-coverage

#313 Issue/310 authentications log
  canvasapi/account.py
  canvasapi/authentication_event.py
  canvasapi/login.py
  canvasapi/user.py
  docs/authentication-event-ref.rst
  docs/class-reference.rst
  tests/fixtures/account.json
  tests/fixtures/login.json
  tests/fixtures/user.json
  tests/test_account.py
  tests/test_authentication_event.py
  tests/test_login.py
  tests/test_user.py
Labels: api-coverage

#318 Fix AssignmentOverride edit and delete
  canvasapi/assignment.py
Labels: bug

#319 QuizSubmission Course ID
  canvasapi/quiz.py
Labels: bug

#325 CONTRIBUTING.md does not link correctly
  .github/CONTRIBUTING.md
Labels: documentation
