Repository ucfopen/canvasapi, pull requests merged in 2022-11, with the labels that each got.

#574 Call `combine_kwargs` on `course.get_module()`
  .pre-commit-config.yaml
  CHANGELOG.md
  canvasapi/course.py
Labels: bug

#559 Issue #459 missing modules
  .github/workflows/run-tests.yml
  CHANGELOG.md
  canvasapi/account.py
  canvasapi/authentication_provider.py
  canvasapi/canvas.py
  canvasapi/conversation.py
  canvasapi/course.py
  canvasapi/enrollment_term.py
  canvasapi/external_tool.py
  canvasapi/group.py
  canvasapi/login.py
  canvasapi/module.py
  canvasapi/outcome.py
  canvasapi/planner.py
  canvasapi/poll.py
  canvasapi/poll_choice.py
  canvasapi/poll_session.py
  canvasapi/user.py
  scripts/find_missing_kwargs.py
  scripts/find_missing_modules.py
  scripts/run_tests.sh
Labels: bug, backstage, hacktoberfest-accepted

#562 Added API calls for AccountCalendar
  CHANGELOG.md
  canvasapi/account.py
  canvasapi/account_calendar.py
  canvasapi/canvas.py
  docs/account-calendar-ref.rst
  docs/class-reference.rst
  tests/fixtures/account.json
  tests/test_account.py
  tests/test_account_calendar.py
  tests/test_canvas.py
Labels: api-coverage, hacktoberfest-accepted

#569 Issue #566 Moderation Set
  CHANGELOG.md
  canvasapi/assignment.py
  tests/fixtures/assignment.json
  tests/test_assignment.py
Labels: api-coverage, hacktoberfest-accepted
